body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.flex-j-around {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-j-around-i {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-v-center-j-around {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-j-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-j-between-i {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-v-center-j-between {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-j-init {
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -ms-flex-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
}
.flex-j-init-i {
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -ms-flex-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
}
.flex-v-center-j-init {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -ms-flex-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
}
.flex-j-inherit {
  -webkit-box-pack: inherit;
  -moz-box-pack: inherit;
  -ms-flex-pack: inherit;
  -webkit-justify-content: inherit;
  justify-content: inherit;
}
.flex-j-inherit-i {
  -webkit-box-pack: inherit;
  -moz-box-pack: inherit;
  -ms-flex-pack: inherit;
  -webkit-justify-content: inherit;
  justify-content: inherit;
}
.flex-v-center-j-inherit {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: inherit;
  -moz-box-pack: inherit;
  -ms-flex-pack: inherit;
  -webkit-justify-content: inherit;
  justify-content: inherit;
}
.flex-j-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-j-center-i {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-v-center-j-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-j-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex-j-start-i {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex-v-center-j-start {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex-j-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-j-end-i {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-v-center-j-end {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-a-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.flex-a-stretch-i {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch !important;
  align-items: stretch !important;
}
.flex-as-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
}
.flex-as-stretch-i {
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
}
.flex-h-center-a-stretch {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-a-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.flex-a-baseline-i {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline !important;
  align-items: baseline !important;
}
.flex-as-baseline {
  -webkit-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline;
}
.flex-as-baseline-i {
  -webkit-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline;
}
.flex-h-center-a-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-a-init {
  -webkit-box-align: initial;
  -moz-box-align: initial;
  -ms-flex-align: initial;
  -webkit-align-items: initial;
  align-items: initial;
}
.flex-a-init-i {
  -webkit-box-align: initial;
  -moz-box-align: initial;
  -ms-flex-align: initial;
  -webkit-align-items: initial !important;
  align-items: initial !important;
}
.flex-as-init {
  -webkit-align-self: initial;
  align-self: initial;
  -ms-flex-item-align: initial;
}
.flex-as-init-i {
  -webkit-align-self: initial;
  align-self: initial;
  -ms-flex-item-align: initial;
}
.flex-h-center-a-init {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: initial;
  -moz-box-align: initial;
  -ms-flex-align: initial;
  -webkit-align-items: initial;
  align-items: initial;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-a-inherit {
  -webkit-box-align: inherit;
  -moz-box-align: inherit;
  -ms-flex-align: inherit;
  -webkit-align-items: inherit;
  align-items: inherit;
}
.flex-a-inherit-i {
  -webkit-box-align: inherit;
  -moz-box-align: inherit;
  -ms-flex-align: inherit;
  -webkit-align-items: inherit !important;
  align-items: inherit !important;
}
.flex-as-inherit {
  -webkit-align-self: inherit;
  align-self: inherit;
  -ms-flex-item-align: inherit;
}
.flex-as-inherit-i {
  -webkit-align-self: inherit;
  align-self: inherit;
  -ms-flex-item-align: inherit;
}
.flex-h-center-a-inherit {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: inherit;
  -moz-box-align: inherit;
  -ms-flex-align: inherit;
  -webkit-align-items: inherit;
  align-items: inherit;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-a-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-a-center-i {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center !important;
  align-items: center !important;
}
.flex-as-center {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.flex-as-center-i {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.flex-h-center-a-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-a-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flex-a-start-i {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
}
.flex-as-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.flex-as-start-i {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.flex-h-center-a-start {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-a-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-a-end-i {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end !important;
  align-items: flex-end !important;
}
.flex-as-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.flex-as-end-i {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.flex-h-center-a-end {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.flex-self-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.flex-center,
.vflex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.vflex-center {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-v-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-h-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-col-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-col-start {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.mt-xs-i {
  margin-top: 4px !important;
}
.mt-xs {
  margin-top: 4px;
}
.mt-sm-i {
  margin-top: 8px !important;
}
.mt-sm {
  margin-top: 8px;
}
.mt-md-i {
  margin-top: 16px !important;
}
.mt-md {
  margin-top: 16px;
}
.mt-gd-i {
  margin-top: 24px !important;
}
.mt-gd {
  margin-top: 24px;
}
.mt-lg-i {
  margin-top: 32px !important;
}
.mt-lg {
  margin-top: 32px;
}
.mt-vt-i {
  margin-top: 48px !important;
}
.mt-vt {
  margin-top: 48px;
}
.no-mt {
  margin-top: 0;
}
.no-mt-i {
  margin-top: 0 !important;
}
.ml-xs-i {
  margin-left: 4px !important;
}
.ml-xs {
  margin-left: 4px;
}
.ml-sm-i {
  margin-left: 8px !important;
}
.ml-sm {
  margin-left: 8px;
}
.ml-md-i {
  margin-left: 16px !important;
}
.ml-md {
  margin-left: 16px;
}
.ml-gd-i {
  margin-left: 24px !important;
}
.ml-gd {
  margin-left: 24px;
}
.ml-lg-i {
  margin-left: 32px !important;
}
.ml-lg {
  margin-left: 32px;
}
.ml-vt-i {
  margin-left: 48px !important;
}
.ml-vt {
  margin-left: 48px;
}
.no-ml {
  margin-left: 0;
}
.no-ml-i {
  margin-left: 0 !important;
}
.mb-xs-i {
  margin-bottom: 4px !important;
}
.mb-xs {
  margin-bottom: 4px;
}
.mb-sm-i {
  margin-bottom: 8px !important;
}
.mb-sm {
  margin-bottom: 8px;
}
.mb-md-i {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 16px;
}
.mb-gd-i {
  margin-bottom: 24px !important;
}
.mb-gd {
  margin-bottom: 24px;
}
.mb-lg-i {
  margin-bottom: 32px !important;
}
.mb-lg {
  margin-bottom: 32px;
}
.mb-vt-i {
  margin-bottom: 48px !important;
}
.mb-vt {
  margin-bottom: 48px;
}
.no-mb {
  margin-bottom: 0;
}
.no-mb-i {
  margin-bottom: 0 !important;
}
.mr-xs-i {
  margin-right: 4px !important;
}
.mr-xs {
  margin-right: 4px;
}
.mr-sm-i {
  margin-right: 8px !important;
}
.mr-sm {
  margin-right: 8px;
}
.mr-md-i {
  margin-right: 16px !important;
}
.mr-md {
  margin-right: 16px;
}
.mr-gd-i {
  margin-right: 24px !important;
}
.mr-gd {
  margin-right: 24px;
}
.mr-lg-i {
  margin-right: 32px !important;
}
.mr-lg {
  margin-right: 32px;
}
.mr-vt-i {
  margin-right: 48px !important;
}
.mr-vt {
  margin-right: 48px;
}
.no-mr {
  margin-right: 0;
}
.no-mr-i {
  margin-right: 0 !important;
}
.pt-xs-i {
  padding-top: 4px !important;
}
.pt-xs {
  padding-top: 4px;
}
.pt-sm-i {
  padding-top: 8px !important;
}
.pt-sm {
  padding-top: 8px;
}
.pt-md-i {
  padding-top: 16px !important;
}
.pt-md {
  padding-top: 16px;
}
.pt-gd-i {
  padding-top: 24px !important;
}
.pt-gd {
  padding-top: 24px;
}
.pt-lg-i {
  padding-top: 32px !important;
}
.pt-lg {
  padding-top: 32px;
}
.pt-vt-i {
  padding-top: 48px !important;
}
.pt-vt {
  padding-top: 48px;
}
.no-pt {
  padding-top: 0;
}
.no-pt-i {
  padding-top: 0 !important;
}
.pl-xs-i {
  padding-left: 4px !important;
}
.pl-xs {
  padding-left: 4px;
}
.pl-sm-i {
  padding-left: 8px !important;
}
.pl-sm {
  padding-left: 8px;
}
.pl-md-i {
  padding-left: 16px !important;
}
.pl-md {
  padding-left: 16px;
}
.pl-gd-i {
  padding-left: 24px !important;
}
.pl-gd {
  padding-left: 24px;
}
.pl-lg-i {
  padding-left: 32px !important;
}
.pl-lg {
  padding-left: 32px;
}
.pl-vt-i {
  padding-left: 48px !important;
}
.pl-vt {
  padding-left: 48px;
}
.no-pl {
  padding-left: 0;
}
.no-pl-i {
  padding-left: 0 !important;
}
.pb-xs-i {
  padding-bottom: 4px !important;
}
.pb-xs {
  padding-bottom: 4px;
}
.pb-sm-i {
  padding-bottom: 8px !important;
}
.pb-sm {
  padding-bottom: 8px;
}
.pb-md-i {
  padding-bottom: 16px !important;
}
.pb-md {
  padding-bottom: 16px;
}
.pb-gd-i {
  padding-bottom: 24px !important;
}
.pb-gd {
  padding-bottom: 24px;
}
.pb-lg-i {
  padding-bottom: 32px !important;
}
.pb-lg {
  padding-bottom: 32px;
}
.pb-vt-i {
  padding-bottom: 48px !important;
}
.pb-vt {
  padding-bottom: 48px;
}
.no-pb {
  padding-bottom: 0;
}
.no-pb-i {
  padding-bottom: 0 !important;
}
.pr-xs-i {
  padding-right: 4px !important;
}
.pr-xs {
  padding-right: 4px;
}
.pr-sm-i {
  padding-right: 8px !important;
}
.pr-sm {
  padding-right: 8px;
}
.pr-md-i {
  padding-right: 16px !important;
}
.pr-md {
  padding-right: 16px;
}
.pr-gd-i {
  padding-right: 24px !important;
}
.pr-gd {
  padding-right: 24px;
}
.pr-lg-i {
  padding-right: 32px !important;
}
.pr-lg {
  padding-right: 32px;
}
.pr-vt-i {
  padding-right: 48px !important;
}
.pr-vt {
  padding-right: 48px;
}
.no-pr {
  padding-right: 0;
}
.no-pr-i {
  padding-right: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-v-margin {
  margin-top: 0;
  margin-bottom: 0;
}
.no-v-margin-i {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.no-h-margin {
  margin-left: 0;
  margin-right: 0;
}
.no-h-margin-i {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.margin-xs {
  margin: 4px;
}
.margin-v-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}
.margin-h-xs {
  margin-left: 4px;
  margin-right: 4px;
}
.margin-xs {
  margin: 4px;
}
.margin-sm {
  margin: 8px;
}
.margin-v-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}
.margin-h-sm {
  margin-left: 8px;
  margin-right: 8px;
}
.margin-sm {
  margin: 8px;
}
.margin-md {
  margin: 16px;
}
.margin-v-md {
  margin-top: 16px;
  margin-bottom: 16px;
}
.margin-h-md {
  margin-left: 16px;
  margin-right: 16px;
}
.margin-md {
  margin: 16px;
}
.margin-gd {
  margin: 24px;
}
.margin-v-gd {
  margin-top: 24px;
  margin-bottom: 24px;
}
.margin-h-gd {
  margin-left: 24px;
  margin-right: 24px;
}
.margin-gd {
  margin: 24px;
}
.margin-lg {
  margin: 32px;
}
.margin-v-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}
.margin-h-lg {
  margin-left: 32px;
  margin-right: 32px;
}
.margin-lg {
  margin: 32px;
}
.margin-vt {
  margin: 48px;
}
.margin-v-vt {
  margin-top: 48px;
  margin-bottom: 48px;
}
.margin-h-vt {
  margin-left: 48px;
  margin-right: 48px;
}
.margin-vt {
  margin: 48px;
}
.no-v-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.no-v-padding-i {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-h-padding-i {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.padding-xs {
  padding: 4px;
}
.padding-v-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}
.padding-h-xs {
  padding-left: 4px;
  padding-right: 4px;
}
.padding-xs {
  padding: 4px;
}
.padding-sm {
  padding: 8px;
}
.padding-v-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padding-h-sm {
  padding-left: 8px;
  padding-right: 8px;
}
.padding-sm {
  padding: 8px;
}
.padding-md {
  padding: 16px;
}
.padding-v-md {
  padding-top: 16px;
  padding-bottom: 16px;
}
.padding-h-md {
  padding-left: 16px;
  padding-right: 16px;
}
.padding-md {
  padding: 16px;
}
.padding-gd {
  padding: 24px;
}
.padding-v-gd {
  padding-top: 24px;
  padding-bottom: 24px;
}
.padding-h-gd {
  padding-left: 24px;
  padding-right: 24px;
}
.padding-gd {
  padding: 24px;
}
.padding-lg {
  padding: 32px;
}
.padding-v-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}
.padding-h-lg {
  padding-left: 32px;
  padding-right: 32px;
}
.padding-lg {
  padding: 32px;
}
.padding-vt {
  padding: 48px;
}
.padding-v-vt {
  padding-top: 48px;
  padding-bottom: 48px;
}
.padding-h-vt {
  padding-left: 48px;
  padding-right: 48px;
}
.padding-vt {
  padding: 48px;
}
.txt-btn {
  cursor: pointer;
  text-decoration: none;
}
.txt-btn,
.txt-btn.default {
  color: #333;
}
.txt-btn:hover {
  text-decoration: none;
}
.txt-btn.primary {
  color: #0091ea;
}
.txt-btn.disabled {
  color: #eee;
  cursor: not-allowed;
}
.text-center {
  text-align: center;
}
.txt-iblock {
  display: inline-block;
}
.J_pointer,
[role="J_anchor"] {
  cursor: pointer;
}
.text-x-ellipsis {
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: inline-block;
}
.btn[disabled] {
  cursor: not-allowed;
}
.not-allowed {
  cursor: not-allowed;
}
.full-h {
  height: 100%;
}
.full-w {
  width: 100%;
}
.hide {
  display: none !important;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-avg > * {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 14px 'PingFang SC', 'Roboto', 'Noto Sans SC', caption, 'Microsoft YaHei', sans-serif;
  -webkit-text-size-adjust: 100%;
}
code {
  border-radius: 4px;
  background-color: #eee;
  line-height: 1;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
#container.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.mobile-nav-on #wrap {
  -webkit-transform: translate3d(4rem, 0, 0);
  -moz-transform: translate3d(4rem, 0, 0);
  -ms-transform: translate3d(4rem, 0, 0);
  transform: translate3d(4rem, 0, 0);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
  }
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-inner,
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: 300px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}
#header:before {
  top: 0;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -moz-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -ms-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: linear-gradient(rgba(0,0,0,0.2), transparent);
}
#header:after {
  bottom: 0;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -ms-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: linear-gradient(transparent, rgba(0,0,0,0.2));
}
#header-outer {
  height: 100%;
  position: relative;
}
@media screen and (max-width: 479px) {
  #header-outer {
    padding-top: 54px;
  }
}
#header-inner {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
@media screen and (max-width: 479px) {
  #header-inner {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/images/banner_0.jpg") center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
#header-title {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
}
#subtitle {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}
#subtitle-wrap {
  margin-top: 16px;
}
#subtitle-wrap [role="text"] {
  background-color: rgba(235,235,235,0.8);
  color: #000;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
}
#main-nav {
  float: left;
  margin-left: -15px;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #555;
  width: 100%;
  font: 13px font-sans;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
}
.article-header {
  padding: 20px 20px 0;
}
.article-header + .article-entry {
  margin-top: 3em;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #555;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
.article-entry {
  color: #555;
  padding: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 2em;
  margin: 1.6em 0;
}
@media screen and (max-width: 479px) {
  .article-entry p,
  .article-entry table {
    line-height: 1.8em;
  }
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: 'PingFang SC', 'Roboto', 'Noto Sans SC', caption, 'Microsoft YaHei', sans-serif;
  font-size: 1.2em;
  padding: 0 20px;
  position: relative;
  border: 1px solid #e3e3e3;
  border-left: 5px solid #ddd;
}
.article-entry blockquote p {
  margin: 0;
  background-color: transparent;
  margin: 12px 0;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: 'PingFang SC', 'Roboto', 'Noto Sans SC', caption, 'Microsoft YaHei', sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.5em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: #fff;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #555;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #555;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px font-sans;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #fff;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-serie-prefix {
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #ecc560;
  padding: 0 4px;
  font-size: 0.8em;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #258fb8;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #258fb8;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
.archive-article-excerpt {
  background: #f3f0f0;
  color: #4c3e3e;
  padding: 0.5rem 1rem;
}
.archive-article-header + .archive-article-body .archive-article-excerpt {
  margin-top: 0.5rem;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #555;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
.fix-footer #footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
#footer {
  height: 69px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #262a30;
  padding: 25px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
@media screen and (max-width: 689px) {
  #footer {
    height: 43px;
    padding: 12px 0;
    text-align: center;
  }
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  text-shadow: 0 1px #fff;
  padding: 0.3em 0.3em 0.1em 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
#mobile-nav {
  visibility: hidden;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #191919;
    width: 0;
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .mobile-nav-on #mobile-nav {
    visibility: visible;
    width: 4rem;
    opacity: 1;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    min-width: 2em;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
#main .avatar {
  position: relative;
  display: block;
}
#main .avatar > img {
  width: 100px;
  heigth: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 1.5em #fff;
  box-shadow: 0 0 0 1.5em #fff;
}
.bilibili-embed-video {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: block;
}
.netease-music-iframe {
  max-width: 100%;
  overflow-x: auto;
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
  }
}
.widget-wrap {
  margin: 50px 0 25px 0;
}
.widget-wrap + .widget-wrap {
  margin-top: 25px;
}
.widget-wrap .widget:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(245,214,194,0.2), 0 6px 20px 0 rgba(187,108,108,0.1);
  box-shadow: 0 8px 17px 0 rgba(245,214,194,0.2), 0 6px 20px 0 rgba(187,108,108,0.1);
}
.widget {
  color: #777;
  text-shadow: 0 1px #fff;
  background: #fff;
  border: 1px solid #efe8e8;
  padding: 15px;
  border-radius: 3px;
}
.widget a {
  color: #258fb8;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
figure table td.gutter pre {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
